<!-- start register-com -->
<div class="register-com position-absolute start-0 end-0 top-0 bottom-0">
    <div class="container">
        <div class="row">

            <div class="box d-flex justify-content-center mt-3">
                <!-- start register-section -->
                <section class="register-section bg-white text-center col-5 rounded-3 py-4">

                    <!-- Sign In -->
                    <h1>Register</h1>

                    <!-- start register-form -->
                    <div class="register-form d-flex flex-column align-items-center justify-content-center">
                        <div class="form-floating mb-3 col-10">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3 col-10">
                            <input type="text" class="form-control" id="floatingInput" placeholder="username">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating col-10">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>
                    <!-- end register-form -->

                    <!-- register button -->
                    <div class="d-flex flex-column align-items-center justify-content-center mt-4">
                        <div class="register-btn form-floating col-10">
                            <button class="btn form-control py-1">
                                <a href="#">Register</a>
                            </button>
                        </div> 
                    </div>
                </section>
                <!-- end register-section -->
            </div>
            
        </div>
    </div>
</div>
<!-- end register-com -->
