/* start css login component */
.landing-page .title{
    background-color: #57b846ff;
}
.landing-page .form input{
    background-color: #f7ecde;
}
.landing-page .form label{
    background-color: transparent;
}
.landing-page .sign-btn .btn{
    border: 1px solid #57b846ff;
}
.landing-page .sign-btn .btn:hover{
    background-color: #57b846ff;
    color: #fff;
}
.landing-page .sign-up .btn{
    color: #57b846ff;
}
.landing-page .sign-up .btn:hover{
    color: rgb(111, 207, 95);
}



/* end css login component */