<!-- start login-com -->
<div class="login-com position-absolute start-0 end-0 top-0 bottom-0">
    <div class="container">
        <div class="row">

            <div class="box d-flex justify-content-center mt-3">
                <!-- start login-section -->
                <section class="login-section bg-white text-center col-5 rounded-3 py-4">

                    <!-- Sign In -->
                    <h1>Login</h1>

                    <!-- start login-form -->
                    <div class="login-form d-flex flex-column align-items-center justify-content-center">
                        <div class="form-floating mb-3 col-10">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating col-10">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>
                    <!-- end login-form -->

                    <!-- forgot password -->
                    <h6 class="forgot-pass mt-3"><a href="#">Forgot Password?</a></h6> 

                    <!-- login button -->
                    <div class="d-flex flex-column align-items-center justify-content-center mt-4">
                        <div class="login-btn form-floating col-10">
                            <button class="btn form-control py-1">
                                <a href="#">Login</a>
                            </button>
                        </div> 
                    </div>

                    <!-- don't have account >> sign up -->
                    <h6 class="sign-up mt-3">
                        Don't Have an Account?
                        <a href="#">Sign Up</a>
                    </h6>

                    <h6 class="my-4">Or</h6>

                    <div class="social-facebook d-flex align-items-center justify-content-center mb-3">
                        <div class="facebook col-10 rounded-1">
                            <a href="#" class="facebook-link d-flex py-2">
                                <i class="fa-brands fa-facebook-f d-block col-2 m-auto"></i>
                                <p class="d-block col-10 m-auto">Login with Facebook</p>
                            </a>
                        </div>
                    </div>
                
                    <div class="social-google d-flex align-items-center justify-content-center">
                        <div class="google col-10 rounded-1">
                            <a href="#" class="google-link d-flex py-2">
                                <i class="fa-brands fa-google d-block col-2 m-auto"></i>
                                <p class="d-block col-10 m-auto">Login with Google</p>
                            </a>
                        </div>
                    </div>
                    
                </section>
                <!-- end login-section -->
            </div>
            
        </div>
    </div>
</div>
<!-- end login-com -->
